{% extends 'base.html' %}
{% block content %}
<h2>Productos</h2>
<a href="{% url 'product-create' %}" class="btn btn-success mb-3">Crear producto</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoría</th>
      <th>Proveedor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>${{ product.price }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.category.name }}</td>
      <td>{{ product.suplier.name }}</td>
      <td>
        <a href="{% url 'product-detail' product.pk %}" class="btn btn-sm btn-info">Ver</a>
        <a href="{% url 'product-edit' product.pk %}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{% url 'product-delete' product.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
